.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: sticky;
  top: 0;
  background-color: white;
}
.header__logo {
  width: 85px;
  height: 25px;
  object-fit: contain;
  margin-left: 20px;
}
.header__input {
  display: flex;
  align-items: center;
  width: 40vw;
  border: 1px solid lightgrey;
}
.header__input > input {
  flex: 1;
  border: none;
  outline: none;
}
.header__inputButton {
  width: 50px !important;
  background-color: #fafafa;
  border-left: 1px solid lightgrey;
  color: gray;
}
.header__icons {
  display: flex;
  align-items: center;
}

.header__icon {
  margin-right: 8px;
}
.header__icons > span {
  display: flex;
  align-items: center;
  border: 1px solid rgb(62, 166, 255);
  padding: 8px;
  color: rgb(62, 166, 255) !important;
  font-weight: bold;
  font-size: 14.5px !important;
}
.header__icons > span:hover {
  cursor: pointer;
}
.header__icon__avatar {
  height: 30px !important;
  width: 30px !important;
}
